body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
}

.container {
	margin: 0 auto;
	max-width: 800px;
    height: 300px;
	padding: 20px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
	font-size: 36px;
	margin-top: 0;
}

h2 {font-size: 0px;}

.options {
	display: flex;
	margin-bottom: 20px;
    margin-top: 0;
    position: relative;
}

#toggle:checked ~ div.opponent-choice {
    display: none;
}


.option {
    position: absolute;
	flex: 1;
	margin-right: 20px;
    top: 100px;
}
.player-choice label {
    top: 75px;
    display: block;
	margin-bottom: 5px;
}

.player-choice select {
    top: 100px;
    width: 100px;
	padding: 10px;
	font-size: 18px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #fff;
}

.opponent-choice label {
    width: 50px;
	display: block;
	margin-bottom: 5px;
}

.opponent-choice select {
	width: 100px;
	padding: 10px;
	font-size: 18px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #fff;
}



.play {
	text-align: center;
}

.play button {
	font-size: 24px;
	padding: 10px 20px;
	background-color: #0077cc;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.result {
	display: none;
	margin-top: 20px;
	text-align: center;
}

.result p {
	font-size: 24px;
	margin-bottom: 20px;
}

.result button {
	font-size: 18px;
	padding: 10px 20px;
	background-color: #0077cc;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}


